[package]
name = "diesel_errors"
version = "0.1.0"
authors = ["Thibaut Roche <thibaut.roche.perso@gmail.com>"]

[dependencies]
rocket = "0.3.12"
rocket_contrib = "0.3.12"
diesel = { version = "~1.2.0", features = ["postgres","r2d2", "uuid", "chrono"] }
regex = "1.0.0"
